h1 {
    color: #178D46; 
    font-size: 36px;
}

h2 {
    color: #178D46; 
    font-size: 24px;
}

h3 {
    color: #178D46; 
    font-size: 20px;
}

h4{
    color: #414041; 
    font-size: 16px;
}

h5{
    color: #58595B; 
    font-size: 14px;
    float:left;
    margin-bottom:10px;
}

h6{
    color: #58595B; 
    font-size: 12px;
}

.content{
    color: #414041; 
    //margin-left: 200px;
    //width: 600px;
    border-right: 1px solid #E6E7E8;    
}

#CodeBlock{
    background-color: #E6E7E8; 
    width: auto;
    padding: 20px;
    margin: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #58595B;
    overflow: auto scroll;
}

#Description{
    padding:10px;
    width: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #E6E7E8;
}

.commentBlock{
    width:auto;
}

.commentBlock.sub{
    width:auto;
    margin-left:50px;
}

#subcomments{
    display:none;
}

.commentContent{
    width:auto;
    height:200px;
}

.commentInfo{
    width: auto;
    height:50px;
}

.userImage{
    width:50px;
    height:50px;
    float:left;
    margin-left:-50px;
    background-image: url(../images/account_default.png);
    background-size: 50px, 50px;
    background-repeat: no-repeat;
}

.userSays{
    height:20px;
    float:left;
    margin-left:10px;
    margin-top:5px;
}

.commentDate{
    width:100px;
    height:20px;
    float:right;
    text-align:right;
    margin-right:10px;
    margin-top:5px;
}

.commentText{
    width:auto;
    margin:10px;
    margin-top:-10px;
}

.commentOptions{
    margin-top:20px;
    margin-left:10px;
    width:auto;
    height:23px;
    border-bottom: 1px solid #E6E7E8;
}

.commentUpVotes{
    margin-top:1px;
    height:12px;
    width:25px;
    float:left;
}

.commentDownVotes{
    margin-top:1px;
    height:12px;
    width:25px;
    float:left;
}

.commentReplies{
    margin-left:5px;
    height:23px;
    width:140px;
    float:left;
}

.commentRepliesNumber{
    width:20px;
    height:20px;
    border-radius:10px;
    color:#ffffff;
    line-height:20px;
    text-align:center;
    background:#58595B;
    float:left;
    font-size:11px;
}

.commentRepliesText{
    margin-top:1px;
    margin-left:5px;
    height:12px;
    width:50px;
    float:left;
}

#commentDropDownIcon{
    margin-top:3px;
    width:19px;
    height:19px;
    background-image: url(../images/plus.png);
    background-repeat: no-repeat;
    float:left;
}

.commentNewReplyText{
    margin-top:1px;
    margin-right:10px;
    width:50px;
    float:right;
    text-align: right;
    border: 1px solid #414042;
    text-align:center;
}

.replyBlock{
    width:auto;
    //background-color:#00669b;
    //border: 1px solid #E6E7E8;
    padding:10px;
    margin:10px;
}

#replyBox{
    float:left;
    display:none;
    //width:auto;
}

.rightContent{
    margin-top:100px;
    padding-left:10px;
}

.headerRightContent{
    width:100%;
    padding-left:10px;
    padding-right:10px;
    float:left;
}

#creatorInfo{
    width:100%;
    float:left;
    padding:10px;
    height:80px;
    font-family: inherit;
    font-size: 100%;
    color:#414042
}

#creatorImage{
    width:50px;
    height:100px;
    float:left;
    background-image: url(../images/account_default.png);
    background-size: 50px, 50px;
    background-repeat: no-repeat;
}

#creatorText{
    float:left;
    margin-left:10px;
}

#creatorName{
    font-weight: bold;
    margin-top:10px;
    margin-left:10px;
    width:100%;
}

#creatorProfession{
    margin-top:10px;
    margin-left:10px;
    width:100%;
}

#creatorUpvotes{
    
    margin-top:10px;
    margin-left:10px;
    
}

#creatorUpvotesImage{
    background-image: url(../images/arrow_up_small_color.png);
    background-size: 20px, 20px;
    background-repeat: no-repeat;
    width:20px;
    height:20px;
    float:left;
    margin-top:2px;
}

#creatorUpvotesText{
    margin-left:10px;
    width:auto;
    height:20px;
    float:left;
}


#pageSettings{
    width:100%;
    float:left;
    padding:10px;
}

.settingsDiv{
    width:100%;
    padding:5px;
}

#pageTags{
    width:100%;
    float:left;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    //background-color:#000;
}

#pageInformation{
    width:100%;
    float:left;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
}

.informationDiv{
    float:left;
    padding:5px;
}

#pageRelated{
    width:100%;
    float:left;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
}

.relatedDiv{
    padding:5px;
}

.pageNumber{
    width: 250px;
    margin:40px auto 0px auto;
    background-color:#ff66cc;
}
