/* Colors - See StyleGuide */
$green				: #178D46;
$green_tint			: #3DB14C;

$red				: #EC4324;
$red_tint			: #E96043;

$gray				: #414042;
$abby_gray			: #58595B; // Tint 1
$iron_gray			: #E6E7E8; // Tint 2
$haze_gray			: #F1F2F2; // Tint 3

$white				: #ffffff;

/* Elements */
$primary_color		: $green;
