$darkgrey: #414042;
$grey: #58595B;
$lightgrey: #E6E7E8;
$white: #ffffff;

.footer {
    width:100%;
    background-color: $darkgrey;
    height: 125px; 
    margin-top: auto;
    bottom: 0px;
    position: absolute;
    left: 0px;
}

.footerLogo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 225px, 60px;
    height: 80px;
    margin-top: 10px;
    float: left;
}

.footerURL {
    float: left;
    margin-top: 10px;
}

a.urlfooter {
    width: 100%;
    font-size: 16px;
    color: $white;
    margin-top: 1px;
    margin-right: 20px;
    text-decoration: none;
    float: left;
}

.urlLeft {
    width: 20%;
    margin-top: 5px;
    float: left;
}

.urlRight {    
    width: 20%;
    margin-top: 5px;
    float: left;
}