#searchInput {
	background-color: $darkgrey;
    color: $lightgrey;
    width:50%;
    height: 28px;
    float: left;
    font-weight: bold;
    border-right: 1px solid #414042;     
    border-left-style: none;
    border-top-style: none;
    border-bottom-style: none;
    padding-left: 10px;
}

textarea {
    width:auto;
    margin:10px;
    border: 1px solid $lightgrey;
    color: $lightgrey;
    resize:none;
    width: calc(100% - 30px);
}

.signInForm{    
    float: left;
    width: 100%;
    height: 240px;    
}

.inputField{
  width: auto;
  height: 20px;
  float: left;
  color: #58595B;
  font-weight: bold;
  border: 1px solid #414042;
  padding-left: 10px; 
  margin-right: 5px;
  margin: 15px 15px 0px 0px;
}

.textareaMessage {
    width:50%;
    border: 1px solid #414042;
    color: #58595B;
    font-weight: bold;
    margin-left: 0px;
    resize:none;
    float: left;
}
.commentBox{
	color: $darkgrey;
}