body, html{
	margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    margin: 0px;
    box-sizing:border-box;
}

@import 'colors';

@import 'pure';

@import 'codesnippet';

@import 'input';

@import 'buttons';

@import 'footer';

@import 'header';

@import 'dropdown';

@import 'upload';

@import 'search';
