<div class="header"> 
    <div class="pure-u-1-4">
        <a href="/home"><img src="dist/images/logo.png" class="logo"></a>
    </div>                            
    
    <div class="searchbar pure-u-1-2">
        <input type="text" class="input" placeholder="Search">
        <select class="dropdown">
             <option value="c#">C#</option>
             <option value="java">Java</option>
             <option value="php">PHP</option>
             <option value="html">HTML</option>
             <option value="JavaScript">JavaScript</option>
         </select>
        <a href="search"><div class="searchbtn"></div> </a>
    </div>
    
    <div class="user pure-u-1-4">
        <div class="userOptions">
            <a href="/snippet/create" title="Upload codesnippet"> <div class="uploadbtn" ></div> </a>
            <a class="userAccount" href="/account">20 karakters</a>
            <div class="userAvatar"></div>
        </div>
    </div>
</div>