 <div class="header"> 
    <div class="pure-u-1-4">
        <a href="{{ basePath }}"><img src="{{ basePath }}/dist/images/logo.png" class="logo"></a>
    </div>                            
    
    <div class="searchbar pure-u-1-2">
        <form action="{{basePath}}/search" method="get">
            <input type="text" class="input" name="q" placeholder="Search">
            <select class="dropdown" name='l'>
                {% for lang in header.languages %}
                    <option value="{{lang.language_ID}}">{{lang.language_name}}</option>
                {% endfor %}
             </select>
             <input type="submit" value="" class="searchbtn">
        </form>
    </div>
    
    <div class="user pure-u-1-4">
        <div class="userOptions">
            {% if auth %}
                <a href="{{ basePath }}/snippet/add" title="Upload codesnippet"> <div class="uploadbtn" ></div> </a>
                <a class="userAccount" href="{{ basePath }}/user/{{auth.Username}}">{{ auth.Username }}</a>
                <a href="{{ basePath }}/user/{{auth.Username}}"><div class="userAvatar"></div></a>
                <a href='{{basePath}}/signout'><img style='margin: 5px 0px 0px 30px;' width="20" src="{{basepath}}/dist/images/logout.png"></a>
            {% else %}
                <a class='userAccount' href='{{ basePath }}/signup'>Register</a>
                <a class='userAccount' href='{{ basePath }}/signin'>Signin</a>
            {% endif %}
        </div>
    </div>
</div>