 <div class="content pure-u-1-2">
            
   <div class="footerPagesText">
    <h1>About CodeSnippet.</h1>   
       <p>Welcome to <i>CodeSnippet. – a website for quick code snippet ‘stealing’ to help people around the world with their search for specific code snippets.</i></p>                             
   
    <h2>Purpose of the Website.</h2>            
       <p>For the Major, teachers at Stenden hogeschool Emmen asked their Software Engineering students to make a knowledge management project.As a group, we decided to create this website. </p>
       <p>The main reason for this project was to make people’s life a little easier. Instead of having to look all over the internet for a specific code snippets, you can now get that code snippet you’ve been looking for from this website. </p>
       <p>This website is for code snippets only. You can only upload code snippets. If you are looking for a code snippet that we do not have on our website, contact us in the contact page, we’ll try to help you out.</p> 
   
   <h2>About the creators.</h2>           
       <p>Henri Arends, Roseline Bruins, Danny van der Jagt and Leroy Rocks, are four 3rd year Software Engeneering students at Stenden Hogeschool Emmen.</p>
       <p>We successfully created this website in 7 weeks for a school project.</p>
    </div>
   
</div>