Account page of {{ data.Username }}

<form action="" method="post">
	<label for="First name">firstname:</label><input type="text" name="firstname" value="{{ data.First_name }}">
	<br>
	<label for="Last name">lastname:</label><input type="text" name="lastname" value="{{ data.Last_name }}">
	<br>
	<label for="Email">email:</label><input type="text" name="email" value="{{ data.Email }}">
	<br>
	<label for="Birthday">Birthday:</label><input type="text" name="birthday" value="{{ data.Birthday }}">
	<br>
	<label for="profession">Profession:</label><input type="text" name="profession" value="{{ data.Profession }}">
	<br>

	<input type="submit" value="submit" name='submit'>
</form>