<div class="content pure-u-3-5">

	<h3>Account page of {{ data.Username }}</h3>

	<form action="" method="post">
		<h4><label for="First name">Firstname:</label></h4><input class='inputField' type="text" name="firstname" value="{{ data.First_name }}">
		
		<h4><label for="Last name">Lastname:</label></h4><input class='inputField' type="text" name="lastname" value="{{ data.Last_name }}">
		
		<h4><label for="Email">Email:</label></h4><input class='inputField' type="text" name="email" value="{{ data.Email }}">
		
		<h4><label for="Birthday">Birthday:</label></h4><input class='inputField' type="text" name="birthday" value="{{ data.Birthday }}">
		
		<h4><label for="profession">Profession:</label></h4><input class='inputField' type="text" name="profession" value="{{ data.Profession }}">
		
	<br><br>
		<input type="submit" class='styleButton' value="submit" name='submit'>
	</form>
</div>