<div class="pure-u-1-2">           
<h1>Contact</h1>
<div class="error">
{{data.send}}
</div>
<form action="" method="post">	
        <h4><label class="signUpLabel" for="Firstname">First name (required):</label></h4>
        <input class="inputField" type="text" name="first_name">
        <br><br>                
   
        <h4><label class="signUpLabel" for="Lastname"> Last name (required):</label></h4>
        <input class="inputField" type="text" name="last_name">                   
        <br><br>
        
        <h4><label class="signUpLabel" for="E-Mail">E-Mail:</label></h4>
            <input class="inputField" type="text" name="email">
<br><br>                   
   
        <h4><label class="signUpLabel" for="Subject">Subject:</label></h4>
            <input class="inputField" type="text" name="subject">                   
        <br><br>
        
        <h4><label class="signUpLabel" for="Message">Message:</label></h4>
            <textarea class="textareaMessage" rows="10" onfocus="if(this.value===this.defaultValue)this.value=''" onblur="if(this.value==='')this.value=this.defaultValue">Add a message..</textarea>
        <br><br> 
            <input class="styleButton" type="Submit" name='submit' value="Submit">
</form>
</div>