<div class="pure-u-3-5">
            <div id="WelcomeDiv">
                <h3>Welcome to CodeSnippet</h3>
                <p class="welcomeDivText">CodeSnippet. – a website for quick code snippet ‘stealing’ to help people around the world with their search for specific code snippets.</p>
                <p class="welcomeDivText">If you are not familiar with CodeSnippet we advice you to take a look at the <a href="howTo.html">how to</a> page</p>
            </div>
            <div id="homePageSuggestions">
                <h3>Latest uploads:</h3>
                <div class="infoSuggestions whiteAdd">
                    <div class="rating ratingWhite ratingPadding ">Rating:</div>
                    <div class="title">Title:</div>
                    <div class="language languageWhite">Language:</div>
                </div>
                
                
                <a href="codeIdPage.html">
                    <div class="suggestion">
                        <div class="rating">
                            <div class="ratingImage"></div>
                            <div class="ratingText">15</div>
                        </div>
                        <div class="title">Time converter</div>
                        <div class="language">C#</div>
                    </div>
                    <div class="suggestion">
                        <div class="rating">
                            <div class="ratingImage"></div>
                            <div class="ratingText">23</div>
                        </div>
                        <div class="title">DateTime method</div>
                        <div class="language">Java</div>
                    </div>
                    <div class="suggestion">
                        <div class="rating">
                            <div class="ratingImage"></div>
                            <div class="ratingText">304</div>
                        </div>
                        <div class="title">A* pathfinding</div>
                        <div class="language">C#</div>
                    </div>
                    <div class="suggestion">
                        <div class="rating">
                            <div class="ratingImage"></div>
                            <div class="ratingText">15</div>
                        </div>
                        <div class="title">Time converter</div>
                        <div class="language">C#</div>
                    </div>
                    <div class="suggestion">
                        <div class="rating">
                            <div class="ratingImage"></div>
                            <div class="ratingText">23</div>
                        </div>
                        <div class="title">DateTime method</div>
                        <div class="language">Java</div>
                    </div>
                    <div class="suggestion">
                        <div class="rating">
                            <div class="ratingImage"></div>
                            <div class="ratingText">304</div>
                        </div>
                        <div class="title">A* pathfinding</div>
                        <div class="language">C#</div>
                    </div>
                    <div class="suggestion">
                        <div class="rating">
                            <div class="ratingImage"></div>
                            <div class="ratingText">15</div>
                        </div>
                        <div class="title">Time converter</div>
                        <div class="language">C#</div>
                    </div>
                    <div class="suggestion">
                        <div class="rating">
                            <div class="ratingImage"></div>
                            <div class="ratingText">23</div>
                        </div>
                        <div class="title">DateTime method</div>
                        <div class="language">Java</div>
                    </div>
                    <div class="suggestion">
                        <div class="rating">
                            <div class="ratingImage"></div>
                            <div class="ratingText">304</div>
                        </div>
                        <div class="title">A* pathfinding</div>
                        <div class="language">C#</div>
                    </div>
                </a>
            </div>

        </div>