<div class="content pure-u-3-5">
            <div id="WelcomeDiv">
                <h3>Welcome to CodeSnippet</h3>
                <p class="welcomeDivText">CodeSnippet. – a website for quick code snippet ‘stealing’ to help people around the world with their search for specific code snippets.</p>
                <p class="welcomeDivText">If you are not familiar with CodeSnippet we advice you to take a look at the <a href="howTo.html">how to</a> page</p>
            </div>
            <div id="homePageSuggestions">

    <h3>Latest snippets:</h3>
             {% for snippet in data.snippets %}

            <div class="codeBlock">
                <div class="codeBlockContent">
                    <div class="codeBlockVotes">
                        <div class="codeUpVote" {% if snippet.Voted == 1 %}style='background-image: url(../dist/images/arrow_up_color.png)' {% endif%}></div>
                        <div class="codeLikes">{{snippet.Votes.up - snippet.Votes.down}}</div>
                        <div class="codeDownVote" {% if snippet.Voted == 0 %}style='background-image: url(../dist/images/arrow_down_color.png)' {% endif%}></div>
                    </div>
                    <div class="codeInfo">
                        <a href='{{basePath}}/snippet/{{snippet.ID}}'>
                            <h3 class="codeTitle">{{snippet.Title}}</h3>
                        </a>
                        <div class="codeDate">Last updated: {{ snippet.Date }}</div>
                    </div>

                    <div class="codeText">{{snippet.Description}}</div>
                    
                    <div class="codeOptions">
                        <div class="codeOptionsText">show code</div>
                        <div class='codedropdown' id="codeDropDownIcon" ></div>
                    </div>
                </div>
                <div class="codeSnippet">
                    {{ snippet.Code_Styled | raw }}
                </div>
            </div>

               {% endfor %}


            </div>

        </div>
          <script>
        var btns = document.getElementsByClassName('codedropdown');

        for(var i = 0, len = btns.length; i < len; i++){
            btns[i].addEventListener('click', toggleCode);
        }

        function toggleCode(){
            console.log(this.parentNode.parentNode.parentNode);
            var code = this.parentNode.parentNode.parentNode.getElementsByClassName('codeSnippet')[0];
            if(code.style.display == 'block'){
                code.style.display = 'none';
            }else{
                code.style.display = 'block';
            }
        }

        </script>