<div class="content pure-u-1-2">
  <h1 class="howToHeaders">How to use CodeSnippet.</h1>
  <img class="howToIMG" src="dist/images/logo.svg" alt="CodeSnippetLogo" align="middle">

  <p>Code Snippet is a website for code snippets, where programmers can upload specific code snippets for other people to use. Users can leave a comment on the code snippets and give an up or down-vote for the snippets and comments.</p> 
  <div class="howToInfo">
  <h2 class="howToHeaders">Step 1. Sign up!</h2>
   <div class="howToLeft">
       <p>Create an account and enjoy helping others around the world.</p>
   </div>               
   <div class="howToRight">
       <img class="howToIMG" src="dist/images/profileLogo.png" alt="CodeSnippetLogo">

   </div>
  <br><br>
  </div>

   <div class="howToInfo">
  <h2 class="howToHeaders">Step 2. Upload</h2>
   <div class="howToLeft">
       <img class="howToIMG" src="dist/images/uploadLogo.png" alt="CodeSnippetLogo">
   </div>               
   <div class="howToRight">
       <p>Upload Code Snippets that are useful for others, don't upload junk code, that will not help others.</p>
   </div>
  <br><br>
  </div>
  <div class="howToInfo">              
  <h2 class="howToHeaders">Step 3. Maintain</h2>
  <div class="howToLeft">
       <p>Connect with other people around the world, learn and shere new knowledge.</p>
       <p>The better your code the more upvotes you can get. </p>
   </div>               
   <div class="howToRight">
       <img class="howToIMG" src="dist/images/modifyLogo.png" alt="CodeSnippetLogo">
   </div>
  <br><br>             
  </div>
  </div>
</div>