   <div class="content pure-u-2-5">
            <h3>Search Results for: Time Converter</h3>
            
            
            {% for snippet in data %}

            <div class="codeBlock">
                <div class="codeBlockContent">
                    <div class="codeBlockVotes">
                        <div class="codeUpVote"></div>
                        <div class="codeLikes">5</div>
                        <div class="codeDownVote"></div>
                    </div>
                    <div class="codeInfo">
                        <h3 class="codeTitle">C# : {{snippet.Title}}</h3>
                        <div class="codeDate">Last updated: {{ snippet.Date }}</div>
                    </div>

                    <div class="codeText">{{snippet.Description}}</div>
                    
                    <div class="codeOptions">
                        <div class="codeOptionsText">replies</div>
                        <div class="codeRepliesNumber">1</div>
                        <div class="codeOptionsText">show code</div>
                        <div id="codeDropDownIcon" onclick="showHideCode()"></div>
                    </div>
                </div>
                <div id="codeSnippet">
                    trololol de beste code ooit
                </div>
            </div>

               {% endfor %}  
                
                
                <div class="pageNumberHolder">
                    <div class="pageNumber">
                        <div class="styleButton"><</div>
                        <div class="styleButton">1</div>
                        <div class="styleButton">2</div>
                        <div class="styleButton">3</div>
                        <div class="styleButton">4</div>
                        <div class="styleButton">5</div>
                        <div class="styleButton">...</div>
                        <div class="styleButton">></div>
                        <div class="pagesInfo">
                            <p>Viewing page 1 of 12</p>
                        </div>
                    </div>
                </div>
            </div>
       


        <div class="pure-u-1-5">
            <div class="rightContent">
                <div id="searchSettings">
                    <div class="headerRightContent"><h5>Language:</h5></div>
                    <div class="styleButton">C#</div>
                    <div class="styleButton">Java</div>
                    <div class="styleButton">Javascript</div>
                </div>
                <div id="pageTags">
                    <div class="headerRightContent"><h5>Tags:</h5></div>
                    <a href="tagIdLink.php" class="tag-button">Timer</a>
                    <a href="tagIdLink.php" class="tag-button">Converter</a>
                    <a href="tagIdLink.php" class="tag-button">C#</a>
                </div>
                <div id="pageRelated">
                    <div class="headerRightContent"><h5>Related:</h5></div>
                    <div class="relatedDiv">Timer</div> 
                    <div class="relatedDiv">Converter</div>
                </div>
            </div>
        </div>
        <script type="text/javascript">  
        var drops = document.getElementsByClassName('codeDropDownIcon');
        for(var i = 0, len = drops.length; i < len; i++){
        drops[i].addEventListener('click', toggleShowHide);
    }
        function toggleShowHide(){
        var sub = this.parentNode.parentNode.getElementsByClassName('codeSnippet');
        // sub.style.display = 'block';
        if(sub[0].style.display == 'block'){
            sub[0].style.display = 'none';
        }else{
            sub[0].style.display = 'block';
        }</script>
