   <div class="content pure-u-3-5">
            <h3>Search Results for: {{ data.query }} </h3>
            
            {% if data.snippets is empty %}
                We couldn't find any snippets.
            {% endif %}
                
            {% for snippet in data.snippets %}

            <div class="codeBlock">
                <div class="codeBlockContent">
                    <div class="codeBlockVotes">
                         <div class="codeUpVote" {% if snippet.Voted == 1 %}style='background-image: url(../dist/images/arrow_up_color.png)' {% endif%}></div>
                        <div class="codeLikes">{{snippet.Votes.up - snippet.Votes.down}}</div>
                        <div class="codeDownVote" {% if snippet.Voted == 0 %}style='background-image: url(../dist/images/arrow_down_color.png)' {% endif%}></div>
                    </div>
                    <div class="codeInfo">
                        <h3 class="codeTitle">{{snippet.Title}}</h3>
                        <div class="codeDate">Last updated: {{ snippet.Date }}</div>
                    </div>

                    <div class="codeText">{{snippet.Description}}</div>
                    
                    <div class="codeOptions">
                        <div class="codeOptionsText">show code</div>
                        <div class='codedropdown' id="codeDropDownIcon" ></div>
                    </div>
                </div>
                <div class="codeSnippet">
                    {{ snippet.Code_Styled | raw }}
                </div>
            </div>

               {% endfor %}
                
                <div class="pageNumberHolder">
                    <div class="pageNumber">
                        <div class="styleButton"><</div>
                        <div class="styleButton">1</div>
                        <div class="styleButton">2</div>
                        <div class="styleButton">3</div>
                        <div class="styleButton">4</div>
                        <div class="styleButton">5</div>
                        <div class="styleButton">...</div>
                        <div class="styleButton">></div>
                        <div class="pagesInfo">
                            <p>Viewing page 1 of 12</p>
                        </div>
                    </div>
                </div>
            </div>
       


      
        <script>
        var btns = document.getElementsByClassName('codedropdown');

        for(var i = 0, len = btns.length; i < len; i++){
            btns[i].addEventListener('click', toggleCode);
        }

        function toggleCode(){
            console.log(this.parentNode.parentNode.parentNode);
            var code = this.parentNode.parentNode.parentNode.getElementsByClassName('codeSnippet')[0];
            if(code.style.display == 'block'){
                code.style.display = 'none';
            }else{
                code.style.display = 'block';
            }
        }

        </script>
