<div class="content pure-u-3-5">
	<h1> Sign in! </h1>
    {% if data.error %}
<div class="error">
		{{ data.errorMessage }}
</div>
{% endif %}
	<form action="" method="post">

		 <h4><label for="username">User Name:</label></h4>
         {% if data.usernameError %}
            <div class="error">{{ data.usernameError }}</div>
         {% endif %}
        
         <input class="inputField" type="text" name='username' value="{{data.data.username}}">                                                        
        <br>   
        <br>
        <h4><label for="password">Password:</label></h4>
        {% if data.passwordError %}
            <div class="error">{{ data.passwordError }}</div>
         {% endif %}
        <input class="inputField" type="password" name='password' value= "{{ data.data.password }}"> 
        <br>  
        <br>
        <br>
        <input class="styleButton" type="submit" value="Submit" name='submit'>
        <br>
    </form>
</div>