<div class="content pure-u-3-5">

<form action="" method="post" enctype="multipart/form-data">

	<h3>Sign up</h3>

	<h4><label for="Username"> Username </label></h4>
	<input class='inputField' type="text" name="username" value="{{username}}">
	<br />
	<h4><label for="Password">Password</label></h4>
	<input class='inputField' type="text" name="password" value="{{password}}">
	<br />
	<h4><label for="First name">First name</label></h4>
	<input class='inputField' type="text" name="first_name" value="{{first_name}}">
	<h4><label for="Last name"> Last name</label></h4>
	<input class='inputField' type="text" name="last_name" value="{{last_name}}">
	<br />
	<h4><label for="E-Mail">E-Mail </label></h4>
	<input class='inputField' type="text" name="email" value="{{email}}">
	<br />
	<h4><label for="Birthday">Birthday, month, year</label></h4>
	<input class='inputField' type="number" name="birthday" value="{{birthday}}">
	<input class='inputField' type="number" name="birthmonth" value="{{birthmonth}}">
	<input class='inputField' type="number" name="birthyear" value="{{birthyear}}">
	<br />
	<h4><label for="Profession">Profession</label></h4>
	<input class='inputField' type="text" name="profession" value="{{profession}}">
	<br />
	<h4><label for="Profile picture"> Profile picture</label></h4>
	<input class='inputField' type="file" name="profile_picture" accept="image/*" value="{{profile_picture}}">

	<input type="submit" name='submit' value="submit">
</form>
</div>
