{% if data.error %}
<div class="error">
	{{ data.errorMessage }}
</div>
{% else %}
edit snippet: {{ data.ID }}

<form action="" method="post">
	<label for="title">Title:</label>
	{% if data.error.titleError %}
            <div class="error">{{ data.error.titleError }}</div>
         {% endif %}<input type="text" name='title' value="{{data.Title}}">
	<br/>
	<label for="title">Code:</label>
{% if data.error.codeError %}
            <div class="error">{{ data.error.codeError }}</div>
         {% endif %}
	<input type="text" name='code' value="{{data.Code}}">
	<br/>
	<label for="title">Description:</label>
{% if data.error.descriptionError %}
            <div class="error">{{ data.error.descriptionError }}</div>
         {% endif %}
	<input type="text" name='description' value="{{data.Description}}">
	<br/>
	<label for="title">Lang:</label>
{% if data.error.langError %}
            <div class="error">{{ data.error.langError }}</div>
         {% endif %}
	<input type="text" name='lang' value="{{data.Lang}}">
	<br/>
	<label for="title">Framework:</label><input type="text" name='framework' value="{{data.Framework}}">
	<br/>
	<input type="submit" value="Save" name='submit'>
</form>

{% endif %}