<div class="content pure-u-1-2">
	{% if auth.ID == data.snippet.User_ID %}
    <div class="styleButton" style='color:white; float:right;'>
        <a style='color:white;' href="{{basePath}}/snippet/{{data.snippet.ID}}/delete">delete</a>
    </div>
    {% endif %}

	<h3>Edit snippet: {{ data.ID }}</h3>

	<form action="" method="post">
		<h4>
			<label for="title">Title:</label>
		</h4>
		{% if data.error.titleError %}
	        <div class="error">{{ data.error.titleError }}</div>
	     {% endif %}
	    <input type="text" class='inputField' name='title' value="{{data.snippet.Title}}">
		<br/>
		<br>
		<br>
		<h4>
			<label for="title">Code:</label>
		</h4>
		{% if data.error.codeError %}
	        <div class="error">{{ data.error.codeError }}</div>
	     {% endif %}
		<input type="text" class='inputField' name='code' value="{{data.snippet.Code}}">
		<br/>
		<br>
		<br>
		<h4>
			<label for="title">Description:</label>
		</h4>
		{% if data.error.descriptionError %}
	        <div class="error">{{ data.error.descriptionError }}</div>
	     {% endif %}
		<input type="text" class='inputField' name='description' value="{{data.snippet.Description}}">
		<br/>
		<br>
		<br>
		<h4>
			<label for="title">Lang:</label>
		</h4>
		{% if data.error.langError %}
	        <div class="error">{{ data.error.langError }}</div>
	    {% endif %}
		<input type="text" class='inputField' name='lang' value="{{data.snippet.Lang}}">
		<br/>
		<br>
		<br>
		<h4>
			<label for="title">Framework:</label>
		</h4>
		<input type="text" name='framework' class='inputField' value="{{data.snippet.Framework}}">
		<br/>
		<br>
		<br>
		<br>
		<br>
		<input class='styleButton' type="submit" value="Save" name='submit'>
	</form>

	<br>
	<br>
	<br>
	<br>
</div>
