<link rel="stylesheet" href="{{basePath}}/dist/codemirror/codemirror.css">
<script src="{{basePath}}/dist/codemirror/codemirror.js"></script>
<script src="{{basePath}}/dist/codemirror/javascript.js"></script>

<div class="content pure-u-1-2">
	{% if auth.ID == data.snippet.User_ID %}
    <div class="styleButton" style='color:white; float:right;'>
        <a style='color:white;' href="{{basePath}}/snippet/{{data.snippet.ID}}/delete">delete</a>
    </div>
    {% endif %}

	<h3>Edit snippet: {{ data.ID }}</h3>

	<form action="" method="post">
		<h4>
			<label for="title">Title:</label>
		</h4>
		{% if data.error.titleError %}
	        <div class="error">{{ data.error.titleError }}</div>
	     {% endif %}
	    <input type="text" class='inputField' name='title' value="{{data.snippet.Title}}">
		<br/>
		<br>
		<br>
		<h4>
			<label for="title">Code:</label>
		</h4>
		{% if data.error.codeError %}
	        <div class="error">{{ data.error.codeError }}</div>
	     {% endif %}

		<textarea name="code" id="code" cols="30" rows="10">{{data.snippet.Code}}</textarea>

		<br/>
		<br>
		<br>
		<h4>
			<label for="title">Description:</label>
		</h4>
		{% if data.error.descriptionError %}
	        <div class="error">{{ data.error.descriptionError }}</div>
	     {% endif %}
		<textarea type="text" cols="60" rows="4" name='description' style='color: black;' value="{{data.snippet.Description}}">{{data.snippet.Description}}</textarea>
		<br/>
		<br>
		<br>
		<h4>
			<label for="title">Language:</label>
		</h4>
		{% if data.error.langError %}
	        <div class="error">{{ data.error.langError }}</div>
	    {% endif %}
		<select class="dropdown" name='language'>
            {% for lang in data.languages %}
             <option value="{{lang.language_ID}}"
			{% if lang.language_ID == data.snippet.Lang %}
				selected
				{% endif %}
             >{{lang.language_name}}</option>
            {% endfor %}
        </select>
		<br/>
		<br>
		<br>
		<h4>
			<label for="title">Framework:</label>
		</h4>
		        <select class="dropdown" name='framework'>
             {% for frame in data.frameworks %}
             <option value="{{frame.Framework_ID}}"
				{% if frame.Framework_ID == data.snippet.Framework %}
				selected
				{% endif %}
	             >{{frame.Framework_name}}</option>
				}
            {% endfor %}
        </select>
		<br/>
		<br>
		<br>
		<br>
		<br>
		<input id='submit' class='styleButton' type="submit" value="Save" name='submit'>
	</form>

	<br>
	<br>
	<br>
	<br>
</div>
<script>
    var code = document.getElementById('code');
    var editor = CodeMirror.fromTextArea(code, {
        lineNumbers: true,
        mode:  "javascript"
    });

    var submit = document.getElementById('submit');
    submit.addEventListener('click', function(){
        console.log('submit!');
        console.log(editor.getValue());
        code.value = editor.getValue();
    });


</script>