<div class="content pure-u-2-5">
    <div id='loading' class="error" style='opacity: 0; width: 100%; text-align: center;'>Loading...</div>
    <h1> {{ data.Title }} </h1>   
   <div class="codeBlockVotes">
         <div class="codeUpVote" onclick='voteSnippet({{data.ID}},1)' {% if data.Voted == 1 %}style='background-image: url(../dist/images/arrow_up_color.png)' {% endif%}></div>
        <div class="codeLikes">{{data.Votes.up - data.Votes.down}}</div>
        <div class="codeDownVote" onclick='voteSnippet({{data.ID}},0)' {% if data.Voted == 0 %}style='background-image: url(../dist/images/arrow_down_color.png)' {% endif%}></div>
    </div>
    <div id="CodeBlock">
        {{ data.Code_Styled | raw }}
    </div>      

    <h3>Description</h3>
    <div id="Description">
        {{ data.Description }}
    </div>

    <h3>Comments</h3>
    {% for comment in data.Comments %}
    <div class="commentBlock">
        <div class="commentInfo">
            <div class="userImage"></div>
            <div class="userSays">{{ comment.user.Username }}:</div>
            <div class="commentDate">{{ comment.Comment_date }}</div>
        </div>
        <div class="commentText">{{ comment.Comment_text }}</div>
        <div class="commentOptions">
            <div class="commentUpVote" onclick="voteComment({{comment.Comment_ID}},1);" {% if comment.Voted == 1 %}style='background-image: url(../dist/images/arrow_up_small_color.png)' {% endif%}></div>
            <div class="commentUpVotes">{{ comment.Votes.up}}</div>
            <div class="commentDownVote" onclick="voteComment({{comment.Comment_ID}},0);" {% if comment.Voted == 0 %}style='background-image: url(../dist/images/arrow_down_small_color.png)' {% endif%}></div>
            <div class="commentDownVotes">{{ comment.Votes.down }}</div>

            <div class="commentNewReplyText">reply</div>
            <div class="commentReplies">
                <div class="commentRepliesNumber">{{ comment.SubComments|length }}</div>
                <div class="commentRepliesText">replies</div>
                <div class="commentDropDownIcon"></div>
            </div>
            <div class="commentNewReplyText">reply</div>
            <div class="replyBox">
                <br><br>
                 {{ comment.Voted | raw }}
                <h5>Leave your reply:</h5>
                <form action="" method='post'>
                    <textarea rows="4" cols="60" name="comment"> </textarea>
                    <input type="hidden" name="topCommentID" value="{{comment.Comment_ID}}">
                    <input type='submit' name='submit' class="styleButton right" value="Submit">
                </form>
            </div>
        </div>
            <div class="subcomments">
                {% for subcomment in comment.SubComments %}
                <div class="commentBlock sub">
                    <div class="commentInfo">
                        <div class="userImage"></div>
                        <div class="userSays">{{ subcomment.user.Username }}:</div>
                        <div class="commentDate"> {{ subcomment.Comment_date }}</div>
                    </div>
                    <div class="commentText">{{ subcomment.Comment_text }}</div>
                    <div class="commentOptions">
                        <div class="commentUpVote" onclick="voteComment({{subcomment.Comment_ID}},1);" {% if subcomment.Voted == 1 %}style='background-image: url(../dist/images/arrow_up_small_color.png)' {% endif%}></div>
                        <div class="commentUpVotes">{{ subcomment.Votes.up}}</div>
                        <div class="commentDownVote" onclick="voteComment({{subcomment.Comment_ID}},1);" {% if subcomment.Voted == 0 %}style='background-image: url(../dist/images/arrow_down_small_color.png)' {% endif%}></div>
                        <div class="commentDownVotes">{{ subcomment.Votes.down }}</div>
                        <div class="commentNewReplyText">reply</div>
                        <br>
                        <div class="replyBox">
                            <h5>Leave your reply:</h5>
                            <form action="" method='post'>
                                <textarea rows="4" cols="60" name="comment">@{{subcomment.user.Username}} </textarea>
                                <input type="hidden" name="topCommentID" value="{{comment.Comment_ID}}">
                                <input type='submit' name='submit' class="styleButton right" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <h5>Leave your comment:</h5>
        <form action="" method='post'>
            <textarea rows="4" cols="60" name="comment">Comment...</textarea>
            <input type='submit' name='submit' class="styleButton right" value="Submit">
        </form>
        <div class="pageNumberHolder">
         <div class="pageNumber">
             <div class="styleButton"><</div>
             <div class="styleButton">1</div>
             <div class="styleButton">2</div>
             <div class="styleButton">3</div>
             <div class="styleButton">4</div>
             <div class="styleButton">5</div>
             <div class="styleButton">...</div>
             <div class="styleButton">></div>
             <div class="pagesInfo">
             <p>Viewing page 1 of 12</p>
             </div>
         </div>
     </div>
    </div>
   
</div>
<div class="pure-u-1-5">
    <div class="rightContent">
        <a href="tagIdLink.php" id="creatorInfo">
            <div id="creatorImage"></div>
            <div id="creatorText">
                <div id="creatorName">{{ data.User.Username }}</div>
                <div id="creatorProfession">{{ data.User.Profession }}</div>
                <div id="creatorUpvotes">
                    <div id="creatorUpvotesImage"></div>
                    <div id="creatorUpvotesText">
                        {{ data.User.Votes.up }}
                    </div>
                </div>
            </div>
        </a>
        <div id="pageSettings">
            <div class="headerRightContent"><h5>Settings:</h5></div>
            <div class="settingsDiv">Language: {{ data.language.language_name }}</div>
            <div class="settingsDiv">Framework: {{ data.framework.Framework_name}}</div>
        </div>
        <!-- <div id="pageTags">
            <div class="headerRightContent"><h5>Tags:</h5></div>
            <a href="tagIdLink.php" class="tag-button">C#</a>
            <a href="tagIdLink.php" class="tag-button">Java</a>
            <a href="tagIdLink.php" class="tag-button">Javascript</a>
        </div> -->
        <div id="pageInformation">
            <div class="headerRightContent"><h5>Views:</h5></div>
            <div class="informationDiv">Views: {{ data.Views }}</div> 
            <div class="informationDiv">{{ data.Comments | length }} comments</div>
        </div>
       <!--  <div id="pageRelated">
            <div class="headerRightContent"><h5>Related:</h5></div>
            <div class="relatedDiv">Timer</div> 
            <div class="relatedDiv">Converter</div>
        </div> -->
    </div>
</div>
<script type="text/javascript">
    // Show and hide subcomments.
    var replies = document.getElementsByClassName('commentNewReplyText');
    var drops = document.getElementsByClassName('commentDropDownIcon');


    for(var i = 0, len = replies.length; i < len; i++){
        replies[i].addEventListener('click', toggleReply);
    }

    function toggleReply(){
        var sub = this.parentNode.parentNode.getElementsByClassName('replyBox');
        if(sub[0].style.display == 'block'){
            sub[0].style.display = 'none';
        }else{
            sub[0].style.display = 'block';
        }
    }

    // Show and hide subcomments.
    for(var i = 0, len = drops.length; i < len; i++){
        drops[i].addEventListener('click', toggleShowHide);
    }

    function toggleShowHide(){
        var sub = this.parentNode.parentNode.parentNode.getElementsByClassName('subcomments');
        // sub.style.display = 'block';
        if(sub[0].style.display == 'block'){
            sub[0].style.display = 'none';
        }else{
            sub[0].style.display = 'block';
        }
    }

    var loading = document.getElementById('loading');

    function showLoading(){
        loading.style.opacity = 1;
    }

    function hideLoading(){
        loading.style.opacity = 0;
    }

    // Vote on snippet.
    function voteSnippet(id, vote){
        showLoading();
        var xmlhttp = new XMLHttpRequest();
        var url = "http://localhost/api/Vote/voteSnippet/"+id+"/"+vote;

        xmlhttp.onreadystatechange = function() {
            console.log(url);
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var myArr = JSON.parse(xmlhttp.responseText);
                if(myArr.data == false){
                    alert('You cannot vote on this!');
                    hideLoading();
                }else{
                    location.reload();
                }
            }
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }

    // Vote on comment.
    function voteComment(id, vote){
        showLoading();
        var xmlhttp = new XMLHttpRequest();
        var url = "http://localhost/api/Vote/voteComment/"+id+"/"+vote;

        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var myArr = JSON.parse(xmlhttp.responseText);
                if(myArr.data == false){
                    alert('You cannot vote on this!');
                    hideLoading();
                }else{
                    location.reload();
                }
            }
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }

   
</script>