<div class="content pure-u-3-5">
            <div class="accountBlock">
             {% if auth.ID == data.user.ID %}
            <div class="styleButton" style='color:white; float:right; margin-right: -30px;'>
                <a style='color:white;' href="{{basePath}}/account">Edit</a>
            </div>
            {% endif %}
                <div class="accountContent">
                    <div class="accountTopContent">
                        <div class="accountHeader"><h1 class="confinedHeader">{{data.user.Username}}</h1></div>
                        <div class="accountProfession">{{data.user.Profession}}</div>
                    </div>
                    <div class="accountMiddleContent">
                        <div class="accountText">
                            <!-- Bla bla I'm a super good programmer more bla bla -->
                        </div>
                    </div>
                    <div class="accountBottomContent">
                        <div class="googlePlus"></div>
                        <div class="Twitter"></div>
                        <div class="LinkedIn"></div>
                    </div>
                </div>
            </div>
            <div class="uploadsText"><h3>Snippets:</h3></div>
	
			{% if data.snippets is empty %}
				There are no snippets.
			{% endif %}

			{% for snippet in data.snippets %}
	
            <div class="codeBlock">
                <div class="codeBlockContent">
                    <div class="codeBlockVotes">
                        <div class="codeUpVote"></div>
                        <div class="codeLikes">{{snippet.Votes.up -  snippet.Votes.down }}</div>
                        <div class="codeDownVote"></div>
                    </div>
                    <div class="codeInfo">
                        <a href="{{basePath}}/snippet/{{snippet.ID}}">
                            <h3 class="codeTitle">{{ snippet.Title }}</h3>
                        </a>
                        <div class="codeDate">Last updated: {{snippet.Date}}</div>
                    </div>

                    <div class="codeText">{{snippet.Description}}</div>

                    <div class="codeOptions">
                        <div class="codeOptionsText">show code</div>
                        <div class='codedropdown' id="codeDropDownIcon"></div>
                    </div>
                </div>
                <div class="codeSnippet">
                    {{ snippet.Code_Styled | raw }}
                </div>
            </div>

			{% endfor %}


        </div>

        <script>
        var btns = document.getElementsByClassName('codedropdown');

        for(var i = 0, len = btns.length; i < len; i++){
            btns[i].addEventListener('click', toggleCode);
        }

        function toggleCode(){
            console.log(this.parentNode.parentNode.parentNode);
            var code = this.parentNode.parentNode.parentNode.getElementsByClassName('codeSnippet')[0];
            if(code.style.display == 'block'){
                code.style.display = 'none';
            }else{
                code.style.display = 'block';
            }
        }

        </script>